CT_CONFIG_VERSION="4"
CT_LOCAL_TARBALLS_DIR="${CT_PREFIX}/downloads"
CT_USE_MIRROR=y
CT_MIRROR_BASE_URL="https://libisl.sourceforge.io/"
CT_ARCH_ARM=y
CT_ARCH_CPU="arm1176jzf-s"
CT_ARCH_SUFFIX="v6"
CT_ARCH_FPU="vfp"
CT_ARCH_FLOAT_HW=y
CT_STATIC_TOOLCHAIN=y
CT_TARGET_VENDOR="rpi"
CT_KERNEL_LINUX=y
CT_GLIBC_LOCALES=y
CT_GLIBC_KERNEL_VERSION_CHOSEN=y
CT_GLIBC_MIN_KERNEL_VERSION="3.2.27"
CT_CC_GCC_DISABLE_PCH=y
CT_CC_GCC_BUILD_ID=y
CT_CC_GCC_LNK_HASH_STYLE_BOTH=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
CT_ZLIB_NEEDED=y
